In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
raw_data = pd.read_csv("CAE_dataset.csv")
raw_data.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,label,Id
count,385768.000000,383289.000000,383289.000000,383289.000000,383289.000000,383245.000000,383289.000000,383289.000000,383289.000000,383289.000000,383287.000000,385768.000000,385768.000000
mean,192883.500000,107.382212,-256.001944,-0.206103,6.020567,49.830667,47.046577,62.263751,-1.732243,-1.301005,130.782761,0.382059,219.508969
std,111361.773659,354.660944,201.461946,1.877303,5.263088,6.046602,13.363281,36.464088,11.402677,3.371628,16.066772,0.485891,128.401814
min,0.000000,-1510.880073,-1077.847000,-15.624560,-0.731537,0.000000,0.000000,0.000000,-359.308839,-27.481137,-15.000000,0.000000,0.000000
25%,96441.750000,0.221964,-363.713000,-0.521088,-0.133167,50.000000,43.164062,13.451710,-3.511680,-2.561242,132.313600,0.000000,108.000000
50%,192883.500000,8.443681,-225.006900,-0.175699,8.576858,50.000000,50.000000,82.186990,-0.796670,-0.717236,132.445100,0.000000,219.000000
75%,289325.250000,110.097959,-85.935050,0.177281,10.388649,50.000000,50.000000,82.815810,-0.166258,0.109655,132.578700,1.000000,330.000000
max,385767.000000,5624.443885,108.083800,22.013577,22.346231,99.726562,99.755859,95.334230,359.568333,31.297580,144.338000,1.000000,443.000000

In [5]:
y = raw_data['label']
print(y.describe())
y = y.values

count    385768.000000
mean          0.382059
std           0.485891
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: label, dtype: float64

In [6]:
X = raw_data.drop(columns = 'label')

In [7]:
# partition pilot stuff
pilots = raw_data['Id'].values
start = pilots[0]
sep = list() #list of separations
for i in range(len(pilots)):
    if pilots[i] != start:
        sep.append(i)
        start = pilots[i]

In [9]:
len(raw_data)

385768

In [ ]:
newlist = list()
for i in range(len(raw_data)):